target_apps:
  application1:
    region: ap-northeast-1
    bucket: application1-tokyo
    backups:
      app_data_path: backups/application/data
      app_log_path: backups/application/logs
      sys_log_path: backups/system/logs
  application2:
    region: ap-northeast-2
    bucket: application2-tokyo
    backups:
      app_data_path: backups/application/data
      app_log_path: backups/application/logs
      sys_log_path: backups/system/logs

